<div class="container">
	<mat-toolbar style="background: #3f51b5;margin-bottom: 40px;">

		<button *ngIf="userSrv.loggedIn" imat-button style="background: #3f51b5;color: white;width: 139px;" [routerLink]="['']">HOME</button>
		<button *ngIf="userSrv.loggedIn" imat-button style="background: #3f51b5;color: white;width: 139px;" [routerLink]="['plans/list']">Plans list</button>
		<button *ngIf="userSrv.loggedIn" imat-button style="background: #3f51b5;color: white;width: 139px;" [routerLink]="['create']">Create plan</button>
		<button *ngIf="userSrv.loggedIn" imat-button style="background: #3f51b5;color: white;width: 139px;" [routerLink]="['plans/my-plans']">My plans</button>
		<button *ngIf="!userSrv.loggedIn" imat-button style="background: #3f51b5;color: white;width: 139px;" [routerLink]="['signin']">Sign In</button>
		<button *ngIf="!userSrv.loggedIn" imat-button style="background: #3f51b5;color: white;width: 139px;" [routerLink]="['signup']">Sign Up</button>
		<button *ngIf="userSrv.loggedIn" imat-button style="background: #3f51b5;color: white;width: 139px;" (click)="logOut()">LogOut</button>
	</mat-toolbar>
</div>
<router-outlet></router-outlet>

